/* CLEAN UP! */

body{
    background: #f9f9f9;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    margin: 0;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

.animatedTopNav {
    z-index: 1;
    position: fixed;
    width: 100%;
    background-color: #fff;
    /* background-color: aqua; */
    overflow: hidden; /* edit? */
    box-shadow: 0px 1px 10px;
    
    visibility: visible;
    opacity: 1;
}

.animatedTopNav a {
    float: left;
    display: block;
    background-color: inherit;
    color: #454545;
    text-align: center;
    padding: 30px 60px;
    text-decoration: none;
    font-size: 15px;
}
a, a:visited, a:hover, a:focus {
    color: inherit;
}
.animatedTopNav a:hover {
    background-color: #e8e8e8;
}

/* Add a color to the active/current link */
.animatedTopNav a.active {
    background-color: #4CAF50;
    color: white;
}

.picture{
    padding: 200px 0px;
    text-align: center;
    font-size: 28px;
    color: white;
    background-color:dimgrey;
    -webkit-box-shadow: inset 0px 0px 30px -10px rgba(0,0,0,1);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 30px;
    
    transition: max-width 2s 0s eas-out;
    
    background-color: rgba(23,13,226,1);
}

#test { background-color: rgba(0,0,0,0.2); height: 100px; width: 100px; font-size: 0.9em; padding: 20px; }